body{
	background: rgba(51,165,199,0.79);
	background: linear-gradient(#005272 0%, #004865 100%);
	background: -webkit-linear-gradient(#005272 0%, #004865 100%);
	background: -moz-linear-gradient(#005272 0%, #004865 100%);
	background: -o-linear-gradient(#005272 0%, #004865 100%);
	background: -ms-linear-gradient(#005272 0%, #004865 100%);
	color: #fff;
}
header h1{
	text-align: center;
	font-size: 3em;
	color: #fff;
	text-indent: -9999px;
	height: 400px;
	background: url(../images/heade.png) no-repeat center top;
	background-size: 800px;
}
#contentgame{
	width: 540px;
	height: 380px;
	margin: 0 auto;
	background: url(../images/windowboat.png) no-repeat;
	padding: 30px;
}
#htp{
	width: 620px;
	margin: 0 auto;
}
.col{
	width: 45%;
	padding-right: 10%;
	float: left;
}
.col:last-child{
	padding: 0;
}
